{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Liens vers des feuilles de style spécifiques à cette page -->
{% endblock %}

{% block body %}
    <h2>Bienvenue sur la page d'accueil</h2>
    <p>Contenu de la page d'accueil.</p>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="/login">

        <button type="submit">login</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Scripts spécifiques à cette page -->
{% endblock %}
